main {
      content {
            .contact-wrapper {
                  .header {
                        padding: 16px 20px;
                        font-family: $font-content;
                        border: 1px solid $color-gray;
                        background-color: $color-bg;
                        color: $color-primary;
                        font-size: 18px;
                        font-weight: 600;
                  }

                  .body {
                        padding: 20px 50px;
                        background-color: $color-white;
                        border-left: 1px solid $color-gray;
                        border-right: 1px solid $color-gray;
                        border-bottom: 1px solid $color-gray;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        img {
                              width: fit-content;
                              height: 160px;
                        }

                        table {
                              font-family: $font-content;

                              tr {
                                    td {
                                          padding: 10px;

                                          a {
                                                text-decoration: underline;
                                          }

                                          &:nth-child(2) {
                                                text-align: center;

                                          }
                                    }
                              }
                        }
                  }
            }
      }
}


@media (max-width: 992px) {
      main {
            content {
                  .contact-wrapper {
                        .header {
                              padding: 16px 20px;
                        }

                        .body {
                              padding: 20px 10px;
                              img {
                                    width: 90%;
                                    height: fit-content;
                              }

                              table {
                                    font-family: $font-content;

                                    tr {
                                          td {
                                                padding: 10px;

                                                a {
                                                      text-decoration: underline;
                                                }

                                                &:nth-child(2) {
                                                      text-align: center;

                                                }
                                          }
                                    }
                              }
                        }
                  }
            }
      }
}