.footer{
      background-color: $color-primary;
      margin-top: 10px;
      .footer-wrapper{
            h3{
                  padding: 10px;
                  text-align: center;
                  color: $color-white;
                  font-family: $font-content;
                  font-size: 12px;
            }
      }
}