$color-primary: #0e2c92;
$color-secondary: #0e247b;
$color-title: #1032a5;
$color-date: #aaaaaa;
$color-description: #808080;
$color-yellow: #fad027;
$color-black: #000;
$color-white: #fff;
$color-borber : #0a1e63;
$color-menu: #0c247b;
$color-bg: #f8f8f8;
$color-gray: #d3d3d3;
$color-red: #ff0000;
$text-runner: darkgoldenrod;
$color-boder: #1238be;
$color-orange: #ec810b;
$color-name: #2b5674;
$color-tg: #00baff;
$color-fb: #1040af;
